
<div class="banner">
    <h1>My Cocktail List</h1>
      <p><%= link_to "Add A New Cocktail", new_cocktail_path %></p>
</div>

<ul>
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  <% end %>
</ul>









