<div class="banner">
    <h1><%= link_to "Cocktails by Faker", :root, class: "faker-link" %></h1>
    <div class="cocktail-icon">
      <img src="https://image.flaticon.com/icons/svg/437/437087.svg" alt="Cocktail Glass">
    </div>
      <p><%= link_to "Add A New Cocktail", new_cocktail_path, class: "btn" %></p>
</div>
