<h1>Add a dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :ingredient_id, collection: Ingredient.all %>
  <%= f.input :description %>
  <%= f.submit "add a dose", class: "btn btn-primary" %>
<% end %>
