.footer {
  background: #050859;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: white;
  bottom: 0px;
  position: absolute;
  width: 100%;
  font-family: $headers-font;
}

.footer .fa-heart {
  color: #D23333;
}
