.footer {
  background: #D0152B;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: white;
  position: absolute;
  width: 100%;
  font-family: $headers-font;
}

.footer .fa-heart {
  color: #32AE4B;
}
