// .faker-link {
//   color: white;
//   text-decoration: none;

//     a:hover {
//
//       text-decoration: none;
//   }
// }


.faker-link {
  color: white!important;
  text-decoration: none!important;
}

.faker-link:hover {
  color: #32AE4B!important;
  text-decoration: none!important;
}
